streamlit
python-dotenv==1.0.1
pyyaml
streamlit-authenticator
plotly
pandas
langchain==0.3.14
langchain-core
langchain-community
langchain-chroma==0.2.0
chromadol== 0.1.2
langchain-openai==0.3.0
chromadb-client==0.6.3
openai==1.58.1
